/* css styles */

/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set a maximum width for the website content */
  .container {
    max-width: 1000px; /* Adjust this value to your desired maximum width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add some padding to the sides */
  }
  
  /* Responsive design: Adjust styles for smaller screens if needed */
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  }

  /* styles.css */

/* Styling for project section titles */
h2 {
  color: #333;
  font-size: 24px;
  margin-top: 40px;
}

/* Styling for project subsection titles */
h3 {
  color: #555;
  font-size: 20px;
  margin-top: 30px;
}

/* Styling for project overview paragraphs */
p {
  font-size: 16px;
  line-height: 1.5;
}

/* Styling for key technologies list */
ul {
  margin-bottom: 20px;
}

/* Styling for project highlights list */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Styling for outcome section */
.outcome {
  margin-top: 20px;
}

  